@use "./../../styles/colors" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

body {
  position: relative;
  min-height: 100%;
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--helvetic), sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  // background: $reversed-grey;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
  max-width: calc(100vw - 240px - var(--scrollbar-width, 0px)); // 280px width of sidebar
  padding: 24px 24px 0px 24px;
  margin-bottom:30px;
  right: -240px;
  @media(max-width:768px){
    right:unset;
    padding:0;
    max-width: 100vw;
  }
}


.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;


}